.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.filter-header a:link,.filter-header a:visited,.filter-header a:hover,.filter-header a:active {
  color: white;
  text-decoration: none;
}
.progress-bar-NOPLAY {
  background-color: #EEEEEE !important;
}
.progress-bar-FAILED {
  background-color: #CCCCCC !important;
}
.progress-bar-ASSISTED {
  background-color: #FF66CC !important;
}
.progress-bar-EASY {
  background-color: #99FF99 !important;
}
.progress-bar-CLEAR {
  background-color: #99CCFF !important;
}
.progress-bar-HARD {
  background-color: #FF6666 !important;
}
.progress-bar-EXHARD {
  background-color: #FFFF99 !important;
}
.progress-bar-FULLCOMBO {
  background-color: #FF9966 !important;
}

.tooltip-inner {
  min-width: 100px;
  max-width: 100%; 
}

.pc-dsp { display:block; }
.sp-dsp { display:none; }


@media (max-width:767px) { 
.table-smart-phone-xx th { font-size:xx-small;}
.table-smart-phone-xx td { font-size:xx-small;}
.table-smart-phone-xx th { padding: .25rem!important; }
.table-smart-phone-xx td { padding: .25rem!important; }

.table-smart-phone-x th { font-size:x-small;}
.table-smart-phone-x td { font-size:x-small;}
.table-smart-phone-x th { padding: .5rem!important; }
.table-smart-phone-x td { padding: .5rem!important; }

.table-smart-phone-sm th { font-size:small;}
.table-smart-phone-sm td { font-size:small;}
.table-smart-phone-sm th { padding: .5rem!important; }
.table-smart-phone-sm td { padding: .5rem!important; }

.padding-sm{ padding: .75rem !important;}

.page-link{padding: 0.25rem .35rem !important;}

.pc-dsp { display:none; }
.sp-dsp { display:block; }

}

.score-index-lg-dsp { display:block; }
.score-index-md-dsp { display:none; }

@media (max-width:991px) { 
.score-index-lg-dsp { display:none; }
.score-index-md-dsp { display:block; }
}


.table-hid{
  display:none !important;
  width:0 !important;
  height:0 !important;
  opacity:0 !important;
  visibility: collapse !important;
}

ul.list{list-style-type:none;margin:0;padding:0;}/*リセット*/
ul.list > li{margin-bottom:0.5em;line-height:1.6;padding-left:1.5em;position:relative;}
ul.list > li i{line-height:1.6;position:absolute;top:0;left:0;}

dl.list > dt{list-style-type:none;margin:0;padding:0;}/*リセット*/
dl.list > dt{margin-bottom:0.5em;line-height:1.6;padding-left:1.5em;position:relative;}
dl.list > dt i{line-height:1.6;position:absolute;top:0;left:0;}

ol.list {
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
  margin: 0;
}
ol.list > li {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 30px;
  position: relative;
}
ol.list > li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  background-color: #333;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  color: #ffffff;
  font-size: 85%;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
}