.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.filter-header a:link,.filter-header a:visited,.filter-header a:hover,.filter-header a:active {
  color: white;
  text-decoration: none;
}
.progress-bar-NOPLAY {
  background-color: #EEEEEE !important;
}
.progress-bar-FAILED {
  background-color: #CCCCCC !important;
}
.progress-bar-ASSISTED {
  background-color: #FF66CC !important;
}
.progress-bar-EASY {
  background-color: #99FF99 !important;
}
.progress-bar-CLEAR {
  background-color: #99CCFF !important;
}
.progress-bar-HARD {
  background-color: #FF6666 !important;
}
.progress-bar-EXHARD {
  background-color: #FFFF99 !important;
}
.progress-bar-FULLCOMBO {
  background-color: #FF9966 !important;
}